.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My Components  */

:root {
  --blue:#3CDBFA;
  --white: whitesmoke;
  --green: #8CF555;
  --purple: #9842E3;
  --radius: 50px;
}

.app {
  background: var(--white);;
}

.header {
  border: none;
  height: 100px;
  text-align: center;
  column-count: 2;
  background: var(--white);
  color: var(--purple);
  box-shadow: 10px 5px;
}

.title {
  float: center;
  margin: 20px;
  /* border: dotted; */
}

.profileButton {
  text-align: right;
  width: 15%;
  /* border: dotted; */
  float: right;
  margin: 20px;
}

/* Slides ///////////////////////////////// */

@keyframes Slide_Left_In {
  0%{
    transform: translateX(1500px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes Slide_Left_Out {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-1500px);
  }
}

.topicMenuIn {
  animation: Slide_Left_In 1.2s ease;
  text-align: center;
  color: var(--blue); 
  /* background: rgb(70, 70, 70); */
  padding: 15%;
  padding-bottom: 30%;
}

.topicMenuOut {
  animation: Slide_Left_Out 1.2s ease;
  text-align: center;
  color: var(--blue);
  background: var(--white);
  padding: 15%;
  padding-bottom: 30%;
}

.topicOptions {
  text-align: center;
  margin-top: 40px;
  width: 100%;
  margin-left: 35%;
  color: var(--blue);
  background:var(--white);
}

@media only screen and (max-width: 500px) {
  .topicOptions{
    margin-left: 0%;
  }

  .topicMenuIn {
    padding-bottom: 80%;
  }

  .topicMenuOut {
    padding-bottom: 80%;
  }
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.questionsDiv {
  text-align: center;
  color: black;
  background: var(--white);
}

.question {
  text-align: center;
  display: none;
}

.questionSlideIn {
  padding-bottom: 20%;
  animation: Slide_Left_In 1s ease;
  text-align: center;
  height: 100%;
  background: var(--white);
}

@keyframes Slide_Left_Out_Question {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-1500px);
    overflow: hidden;
  }
}

@-webkit-keyframes Slide_Left_Out_Question {
  to {
      width:0;
      height:0;
      visibility: hidden;
  }
}

.questionSlideOut {
  animation: Slide_Left_Out_Question 1s ease .1s forwards;
  text-align: center;
  height: 100%;
  padding-bottom: 20%;
  background:var(--white);
}



.questionText {
  padding: 3%;
  box-shadow: 10px 5px black;
  background: linear-gradient(to right, #8CF555, #F0D33A, #FA643C);
}

.h2Question {
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  .h2Question {
    font-size: 15px !important;
  }

  .questionText {
    margin-bottom: 20px;
  }


  .questionSlideIn {
    padding-bottom: 60%;
  }

  .questionSlideOut {
    padding-bottom: 60%;
  }

  .finish {
    padding-bottom: 80% !important;
  }
}

@keyframes Slide_Left_Answer {
  0%{
    transform: translateX(1500px);
  }
  100%{
    transform: translateX(0px);
    overflow: hidden;
  }
}



.answerDiv {
  border-radius: var(--radius);
  animation: Slide_Left_Answer 2s ease;
  box-shadow: blanchedalmond 5px 5px;
  border: outset 1px;
  padding: 1%;
  background: var(--blue);
  margin: 1%;
  margin-bottom: 0%; 
  break-inside: avoid-column;
  /* display:inline-block; */
}


.answerDiv:hover {
  border-radius: var(--radius);
  transition: transform 300ms;
  transform: translate3d(0, calc(1% - 1rem), 0);
  transform: translateY(-20px);
}

.answerDivSelected {
  border-radius: var(--radius);
  break-inside: avoid-column;
  /* display:inline-block; */
  box-shadow: blanchedalmond 5px 5px;
  border: outset 1px;
  padding: 1%;
  background: var(--blue);
  margin: 1%;
  margin-bottom: 0%; 
  transform: translateY(-15px); 
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px#f2d3f0,
    inset -20px 0 80px rgb(197, 160, 79),
    inset 20px 0 300px #f2d3f0,
    inset -20px 0 300px rgb(209, 66, 9),
    0 0 10px #990000,
    -10px 0 10px #f0f,
    10px 0 10px rgb(221, 116, 18);
}

.answerDivDeselect {
  border-radius: var(--radius);
  break-inside: avoid-column;
  box-shadow: blanchedalmond 5px 5px;
  border: outset 1px;
  padding: 1%;
  background: var(--blue);
  margin: 1%;
  margin-bottom: 0%; 
  /* height: 20% !important; */
}

.answerDivDeselect:hover {
  border-radius: var(--radius);
  transition: transform 300ms;
  transform: translate3d(0, calc(1% - 1rem), 0);
  
}

.answerContainerDiv {
  /* -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; */
  padding: 1%;
  width: 100%;
  height: 100%;
}

/* @media (min-width: 800px) {
  .answerContainerDiv {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    }
} */

@media (min-width: 500px) {
  .answerContainerDiv {
    -webkit-column-count: 0;
    -moz-column-count: 0;
    column-count: 0;
    }
}

@media only screen and (max-width: 500px) {
  /* .answerContainerDiv {
  -webkit-column-count: 0;
  -moz-column-count: 0;
  column-count: 0 !important;
  } */

  /* .answerDiv{
    width: 90%;
  } */

  .answerDiv {
    margin-bottom: 1%; 
  }

  .answerDivSelected {
    transform: translateY(0px);
    margin-bottom: 1%; 
  }

  .answerDivDeselect {
    margin-bottom: 1%;
  }

  .answerDivDeselect:hover {
    transition: transform 0ms;
    transform: translate3d(0, calc(0% - 0rem), 0);
    
  }

  .answerDiv:hover {
    transition: transform 0ms;
    transform: translate3d(0, calc(0% - 0rem), 0); 
  }
  }

@keyframes Slide_Up {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translatey(30px);
  }
}

.h1timer {
  color: var(--purple);  
  font-size: 40px;
}

.h1timerRed {
  color: red;
  font-size: 40px;
}

@media only screen and (max-width: 500px) {
  .h1timer {
    font-size: 20px;
  }

  .h1timerRed {
    font-size: 20px;
  }
}


@keyframes Slide_Right_Timer {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(900%);
  }
}

.timerDiv {
  animation: Slide_Right_Timer 10s ease-in-out;
  border: none;
  width: 10%;
}

.finish {
  animation: Slide_Left_In 1.2s ease;
  text-align: center;
  color: var(--blue);
  padding: 21%;
  padding-bottom: 30%;
  background: var(--white);
}

.backHomeDiv {
  margin-top: 10%;
}

/* /////////////////// */





